---
import '@fontsource-variable/figtree';
import '@fontsource-variable/inter';
import Navbar from '@/components/core/Navbar.astro';
import Footer from '@/components/core/Footer.astro';
import { DESCRIPTION, TITLE } from '@/content/constants';
import '@/styles/global.css';
import Metadata from '@/components/core/Metadata.astro';

interface Props {
  description?: string;
  title?: string;
  isStatic?: boolean;
}

const { description = DESCRIPTION, title = TITLE } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-zinc-50 text-black dark:bg-zinc-950 dark:text-white">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- SEO Indexing -->
    <meta name="robots" content="index, follow" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <Metadata server:defer />
  </head>
  <body class="flex min-h-screen flex-col">
    <Navbar />
    <section class="mt-24 flex-grow">
      <slot />
    </section>
    <Footer />
  </body>
</html>
